/* Styles related to the outer most container */

#outer {
    display:flex;
    flex-direction:column;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Styles related to the main panel */
#mainDivIDE {
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: relative;
    flex: 1;
    display: flex;
}

/* Styles related to layout panels */
.divIDEPanelTemplate {
    display:none;
}

/* Styles related to the top menu */

.menuBar {
    height:40px;
    background:lightgrey;
    box-shadow: 5px 5px 5px #909090;
}

/* Styles related to the layout panel */

.DivIDELayout {
    flex: 1;
    display: flex;
}

.layoutToolBar {
    margin: 0  auto auto 0;
    width: auto;
}

.columnItems {
    flex-direction: column;
}

.rowItems {
    flex-direction: row;
}

.editBorderStyle {
    border: gainsboro;
    border-width: thin;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px #909090;
    border-radius: 0px;
}

.borderStyle {
    border: gainsboro;
    border-width: thin;
    border-style: solid;
    padding: 0px;
    margin: 0px;
/*         box-shadow: 2px 2px 2px #909090; */
}

/* Style related to conext menus */
.ctxMenu{
    display:none;
    z-index:100;
    position:absolute;
    border: 1px solid #cacaca;
    background: #fefefe;
}


